html, body {
    padding: 0;
    margin: 0;
}

#map { position:absolute; top:0; bottom:0; width:100%; }

.date-filter {
    position:fixed;
    top: 10px;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 9000000;
    opacity: 1;
    background: white;
    font: 20px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px 10px;
}

.silkroad-tour {
    position:fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 9000000;
    opacity: 1;
    background: white;
    font: 14px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px 10px;
}

.santiago-tour {
    position:fixed;
    top: 60px;
    right: 10px;
    text-align: center;
    z-index: 9000000;
    opacity: 1;
    background: white;
    font: 14px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px 10px;
}

.update-markers {
    position:fixed;
    bottom: 20px;
    right: 10px;
    z-index: 9000000;
    background: white;
    font: 14px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    opacity: 1;
    border-radius: 5px;
    padding: 10px 10px;
}

